/* Styles go here */

.hide{
  display:none;
}
.center {
  text-align:center;
}
.caption {
    font-size: 11px;
}

html, body { height: 100%; padding: 0; margin: 0; }

div {
    width: 50%;
    height: 50%;
    float: left;
}

@media (max-width:1000px){
    div {
        width: 100%;
        height: 100%;
        float: left;
    }
}